<section class="center-xs row row--no-margin">
  <div *ngIf="!isFlippable">
    <p>Моля изберете вида на училището, в което смятате да кандидатствате: </p>
  </div>
  <div *ngIf="isFlippable">
    <p>Моля изберете област на образование, в която смятате да се реализирате: </p>
  </div>
  <mm-element-grid class="col-xs-12 col-lg-10" [selectedElement]="(homeState$|async)?.selectedElement" [elements]="(homeState$|async)?.elementResults?.results"
    [isToggleable]="true" [isInToggleMode]="(homeState$|async)?.isCollectingElements" (elementCollected)="collectElement($event)"
    (elementListToggled)="toggleElementList($event)" (elementSelected)="selectElement($event)" (elementDetailsShown)="showElementDetails($event)">
  </mm-element-grid>
  <div *ngIf="showAvailableProffesionalFields">
    <p class="format__paragraph">Повече информация и теми за кариерно ориентиране за всеки клас
      от
      <u>професионалното</u> образование може да намерите
      <a href="http://orientirane.mon.bg/programa/?m=2&etap=32&p=3" target="_blank"> ТУК</a>
    </p>
    <p class="format__paragraph">Mинистерството на образованието и науката (МОН) пусна карта на
      <u>професионалните</u> гимназии в България, включително и тези, които предлагат дуално обучение. Тя дава информация за
      <u>професионалните</u> направления, броя на учениците, които се обучават в тях, материалната база на училищата, участие
      в проекти и др. Картата може да бъде видяна
      <a href="https://www.google.com/maps/d/viewer?mid=1uGpTF_1KejbquErxsmnQI8pQtOY" target="_blank"> ТУК</a>
    </p>
    <p class="format__paragraph">
      Списък на професиите за
      <u>професионално</u> образование и обучение може да намерите
      <a href="https://www.mon.bg/upload/14503/SPPOO_230218.pdf"> ТУК</a>
    </p>
  </div>
  <div *ngIf="showAvailableProfiledFields">
    <p class="format__paragraph">Повече информация и теми за кариерно ориентиране за всеки клас
      от
      <u>профилираното</u> образование може да намерите
      <a href="http://orientirane.mon.bg/programa/?m=2&etap=31&p=3" target="_blank"> ТУК</a>
    </p>
  </div>

</section>