:host{
    width: 100%;
    /deep/ mm-element-poster{
        img{
            height: 150px;
            width: auto;
        }
    }
}

.format{
    &__paragraph{
        margin-top: 1%;
        margin-left: 15%;
        margin-right: 15%;
    }
}