<article class="element-list">
  <header class="element-list__header row row--no-margin start-xs middle-xs">
    {{elementList.name}}
  </header>
  <section class="element-list__content">
    {{elementList.description}}
  </section>
  <footer class="element-list__footer row row--no-margin center-xs middle-xs">
    <mm-icon name="schools" class="mr-10"></mm-icon>
    <span class="mr-10"> {{elementList.itemCount}}</span>
    <mm-icon name="vote" class="mr-10"></mm-icon>
    <span class="mr-10"> {{elementList.favoriteCount}}</span>
  </footer>
</article>