:host{
    &.ng-invalid:not(.ng-pristine){
        div{
            box-shadow: 0 1px 5px rgba(255, 0, 0, 0.59);
        }
    }
    .char-counter{
        position: absolute;
        bottom: 15px;
        right: 15px;
        &--invalid{
            color: red;
        }
    }
}