<section class="overlay" *ngIf="selectedElement" (click)="selectElement(null);">
</section>
<section class="row col-xs-12 row--no-margin pt-50">
  <mm-fab *ngIf="isToggleable" (click)="toggleEditMode()" iconName="add_to_list"></mm-fab>
  <div class="row row--no-margin"  [@staggerAnimation]="elements">
    <mm-element-poster class="col-xs-2 mb-20" *ngFor="let element of elements" [element]="element" [isSelected]="element===selectedElement"
      [isNotFlippable]="isInToggleMode" (selectElement)="selectElement($event)" (showElementDetails)="showElementDetails($event)">
    </mm-element-poster>
  </div>
  <mm-spinner [class]="'big'" *ngIf="!elements"></mm-spinner>
  <span class="col-xs-12" *ngIf="!elements?.length"> No schools found</span>
</section>